%p
  Hello #{@email}!
%p
  One of your friend answered about you at 
  = link_to 'Between You and me', root_url   
  To Find out who he is, check at #{root_url}.
%i
  %b Note:
  This email is system generated please do not reply to this.
