#section1
  .row
    .col-md-2
    .col-md-4
      %h2 Between Friends
  - unless user_signed_in?
    .row
      .col-md-2
      .col-md-4
        = link_to user_omniauth_authorize_path(:facebook) do 
          = image_tag 'facebook-connect.png'
  - else
    = link_to 'Sign Out', destroy_user_session_path, method: :delete 
#section2

