#answer{
  position: absolute;
  top: 25%;
  left: 25%;
  width: 700px;
  height: 200px;
}

#nav-answer-page {
  margin-right: 200px;
  float: right !important;
}
    
#result{
  margin-top: 350px;
  margin-left: -120px;
  width: 1400px;
  background-color:#7CC3BF; 
}

.select2-container-multi .select2-choices{
    min-height:66px !important;
}

.submit-btn{
 margin-top:15px;
 margin-left:140px;
}

.select2-container-multi .select2-choices .select2-search-field input{
  height: 40px;
  font-size: 25px;
}
