/*#answer{
  position: absolute;
  top: 25%;
  left: 25%;
  width: 700px;
  height: 200px;
}

#nav-answer-page {
  margin-right: 200px;
  float: right !important;
}*/

#logo-title{
    font-family: league-gothic, 'Helvetica-Neue', Helvetica, sans-serif !important;
    letter-spacing: 3px;
    font-weight: normal;
    color: #407E84;
    font-size: 54px;
    margin-left: 45px;
    margin-top: 30px !important
}

.question-text{
    font-family: hellenic-wide, 'Helvetica-Neue', Helvetica, sans-serif;
    color: #F05A29;
    letter-spacing: 1px;
    font-size: 24px;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 2px
}

.control-label{
    font-family: hellenic-wide, 'Helvetica-Neue', Helvetica, sans-serif;
    color: #F05A29;
    letter-spacing: 1px;
    font-size: 16px;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 2px;
    padding-top:5px;
}

.main-container {
  background-color: #9BCFC2; 
}

.container {
  padding: 50px; 
}
    
/*#result{
  margin-top: 350px;
  margin-left: -120px;
  width: 1400px;
  background-color:#7CC3BF; 
}*/

.select2-container-multi .select2-choices{
    min-height:66px !important;
}

.submit-btn{
 margin-top:15px;
 margin-left:140px;
}

.select2-container-multi .select2-choices .select2-search-field input{
  height: 40px;
  font-size: 25px;
}
