/*#answer{
  position: absolute;
  top: 25%;
  left: 25%;
  width: 700px;
  height: 200px;
}

#nav-answer-page {
  margin-right: 200px;
  float: right !important;
}*/

#answer-form{
  min-height:358px;
}

#matched-answer{
  min-height: 358px;
  overflow: auto;
}

#pie-container{
  margin-top: -85px;
}

#logo-title{
    letter-spacing: 3px;
    font-weight: normal;
    color: #F05A29;
    font-size: 54px;
    margin-left: 45px;
    margin-top: 30px !important
}

.question-text{
    color: #F05A29;
    letter-spacing: 1px;
    font-size: 24px;
    text-align: left;
    margin-bottom: 2px
}

.control-label{
    color: #F05A29;
    letter-spacing: 1px;
    font-size: 14px;
    text-align: left;
    margin-bottom: 2px;
    padding-top:5px;
}

.main-container {
  background-color: #9BCFC2; 
  letter-spacing: 1.5px;
  word-spacing:3px;
  color: #F05A29;
  letter-spacing: 1px;
  font-size: 16px;
  text-align: left;
  margin-bottom: 2px;
  padding-top:5px;
}

.container {
  padding: 50px; 
}
    
/*#result{
  margin-top: 350px;
  margin-left: -120px;
  width: 1400px;
  background-color:#7CC3BF; 
}*/

.select2-container-multi .select2-choices{
    min-height:66px !important;
}

.submit-btn{
 margin-top:15px;
 margin-left:140px;
}

.select2-container-multi .select2-choices .select2-search-field input{
  height: 40px;
  font-size: 25px;
}
