#answer{
  position: absolute;
  left: 25%;
  width: 700px;
  height: 200px;
}

#result{
  margin-top: 350px;
  margin-left: -120px;
  width: 1400px;
  background-color:#7CC3BF; 
}

.select2-container-multi .select2-choices{
    min-height:66px !important;
}

.submit-btn{
 margin-top:15px;
 margin-left:260px;
}
