// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#footer{
  background-color: #428BCA;
}

#instruction {
  padding: 100px 200px 100px 200px;
  color: white;
}

#privacy {
  color: white;
}

#who-we-are{
  color: white;
}

#slide1 #container {
  position: relative;
  top: 5%;
  left: 5%;
  width: 1166px;
}

.title {
    text-align: center;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 40px auto 45px auto;
    width: 560px;
    text-shadow: 0 1px 0 white;
    font-size: 40px;
    font-weight: 400;
}


.title:before {
    position: absolute;
    content: '';
    width: 152px;
    height: 2px;
    top: 25%;
    right: 325px;
    background: white;
}


.title:after {
    content: '';
    width: 152px;
    height: 2px;
    top: 25%;
    left: 325px;
    position: absolute;
    margin: 0px 0 0;
    background: white;
}

#privacy .title {
    margin: 0px auto 45px auto;
    padding-top: 130px;
}

#privacy .title:after {
    top: 55%;
    left: 325px;
}

#privacy .title:before {
    top: 55%;
    right: 325px;
}

.steps{
    font-size: 20px;
    text-shadow: 1px 3px 5px rgba(0, 1, 2, 0.4);
    font-weight: 400;
    text-align: center;
}

.big-steps{
    color: white;
    font-size: 50px;
    text-shadow: 1px 3px 5px rgba(0, 1, 2, 0.4);
    font-weight: 400;
    text-align: center;
}

#slide1 h1 {
    color: black;
    font-family: 'StandardCT-ExtraBold', Helvetica, Arial, sans-serif;
    font-size: 95px;
    line-height: 0.78;
    margin-left: 20px;
    padding: 10px;
}

#slide1 .pink {
    color: #ff007d;
    display: block;
    font-family: 'StandardCT-ExtraBold', Helvetica, Arial, sans-serif;
    font-size: 109px;
    line-height: 0.78;
    font-weight: bold;

}

#slide1 .cyan {
    background: url(/dms/wac/images/landing/time-wasters/Clock-Illustration1.png) no-repeat scroll right 40px;
    color: #00c4ff;
    display: inline-block;
    font-family: 'StandardCT-ExtraBold', Helvetica, Arial, sans-serif;
    font-size: 159px;
    padding-right: 144px;
}

#slide1 .yellow {
    color: #ffc700;
    display: inline-block;
    font-family: 'StandardCT-ExtraBold', Helvetica, Arial, sans-serif;
    font-size: 159px;
}

.black {
    background: url(/dms/wac/images/landing/time-wasters/Underline-Illustration.png) no-repeat scroll 80px bottom;
    position: relative;
    padding-bottom: 18px;
    top: -46px;
}

.black1 {
    display: block;
    float: left;
    padding-left: 445px;
    margin-top: 44px;
    margin-right: 20px;
}

.slide1Text {
    font-size: 31px;
    line-height: 38px;
    margin-top: 65px;
    margin-bottom: 100px;
}
